@using crudlab.Models.DTO.Student
@model UpdateStudentDto

<div class="container">
    <form method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="Student.Name"></label>
            <input class="form-control" asp-for="Student.Name" />
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Student.Surname"></label>
            <input class="form-control" asp-for="Student.Surname" />
        </div>

        <select asp-for="Student.SpecializationId" asp-items="ViewBag.Specs">
            <option></option>
        </select>

        <div class="d-flex justify-content-end">

            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>

    </form>
    
    <form method="post">
        <select asp-for="Grade.SubjectId" asp-items="ViewBag.Subjects"></select>
        <input asp-for="Grade.StudentId" readonly hidden />
        <label asp-for="Grade.EntryScore"></label>
        <input asp-for="Grade.EntryScore"/>
        <label asp-for="Grade.ExamScore"></label>
        <input asp-for="Grade.ExamScore" />
        <button class="btn" asp-controller="Student" asp-action="AddGrade">Add</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Entry Score</th>
                <th>Exam Score</th>
                <th>Final Score</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var i in Model.Student.Grades)
            {
                <tr>
                    <td>@i.Id</td>
                    <td>@i.Subject.Name</td>
                    <td>@i.EntryScore</td>
                    <td>@i.ExamScore</td>
                    <td>@(i.EntryScore + i.ExamScore)</td>
                </tr>
            }

        </tbody>
    </table>
</div>