@using Entities
@model Teacher

<div class="container">

    <p>ID: @Model.Id</p>
    <p>Name: @Model.Name</p>
    <p>Surname: @Model.Surname</p>
    <p>Experience: @Model.Experience</p>
    <h5>Subjects</h5>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var i in Model.Subjects)
            {
                <tr>
                    <th>@i.Id</th>
                    <th><a asp-controller="Subject" asp-action="Get" asp-route-id="@i.Id">@i.Name</a></th>
                </tr>
            }

        </tbody>
    </table>
</div>
